@charset "utf-8";

body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,div,select,table,td,textarea,th,ul {
    margin: 0;
    padding: 0;
}
html{ 
	font-size: 50px;
	height: 100%;
} 
body,button,input,select,textarea{font-family: "微软雅黑",arial,sans-serif;}
body {
	width: 100%;
	/*height: 100%;*/
    min-width: 320px;
    position: relative;
}

a{ 
	color: #fff; 
	text-decoration: none;
}
ol,ul,li{ 
	list-style: none;
}
h1,h2,h3,h4,h4,h5,h6,b,strong{ 
	font-weight: normal;
}
i,em{ 
	font-style: normal;
}
img{ 
	border: 0; 
	vertical-align: top;
}
table{ 
	border-collapse: collapse;
}
.fl{ 
	float: left;
}
.fr{ 
	float: right;
}
.clearfix:after{ 
	display: block; 
	content: ''; 
	clear: both;
}
.clearfix{ 
	zoom: 1;
}

header{ 
	background: #1da0ef;
	height: 0.88rem;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.search{ 
	width: 0.88rem; 
	height: 100%; 
	margin-right:1.8rem;
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:center; 
	-webkit-box-align:center; 
}
.searchbtn{ 
	display: block;
	width: 0.42rem;
	height: 0.42rem;
	background-image: url(https://image.kuwo.cn/mpage/html5/2016/pics.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 950%; 
}
.logo{ 
	width: 2.1rem; 
	height: 100%;
	margin: 0 auto;
}
.logo2{ 
	width: 1.88rem;
	height: 30px;
	background: url(https://image.kuwo.cn/mpage/html5/2016/logo2.png) no-repeat;
	background-size: 100%;
	margin: 5px 0 5px 0.2rem;
}
.logopic{ 
	display: block;
	width: 100%; 
	height: 100%;
	background: url(https://image.kuwo.cn/mpage/html5/2016/logo.png) 0 center no-repeat;
	background-size: 100%;
}
.download{ 
	width: 1.6rem;
	height: 0.52rem;
	margin: 0.2rem 0.2rem 0 0;
}
.cpxq{
	width: 1.6rem;
	height: 0.52rem;
	margin: 0.2rem 0.2rem 0 0;
}
.download2{ 
	width: 1.6rem;
	height: 26px;
	margin: 6px 0.2rem 0 0;
	border-radius: 30px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 26px;
	background: #1da0ef;
}
.downapp{ 
	display: block;
	width: 100%; 
	height: 100%;
	border-radius: 30px;
	text-align: center;
	color: #fff;
	font-size: 0.24rem;
	line-height: 0.52rem;
	background: #1470a7;
}
.downapp_btn{ display: block;width: 100%;height: 100%;line-height: 0.52rem;border: 1px solid #fff;border-radius: 0.26rem; background: #1da0ef;text-align: center; color: #fff; font-size: 0.26rem;box-sizing: border-box;}
.cpxq_btn{ display: block;width: 100%;height: 100%;line-height: 0.52rem;border: 1px solid #fff;border-radius: 0.26rem; background: #1da0ef;text-align: center; color: #fff; font-size: 0.26rem;box-sizing: border-box;}

.nav{
	width: 100%;
	height: 0.76rem;
	border-bottom: 1px solid #ddd;
	background: #fff;
	position: fixed;
	left:0;
	top: 0.88rem;
	z-index:2;
}
.nav .navitem{
	float: left; 
	width: 20%;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.76rem;
	color: #333;
	border-bottom: 2px solid transparent;
}
.nav .navitem.on{ 
	color: #2095dd;
	border-bottom: 2px solid #2095dd;
}

footer{
	position: fixed;
	width: 100%;
	height:40px;
	left:0;
	bottom: 0;
	background: #e8e8e8;
	z-index: 200;
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.footer{ height:100%;}

#morebtnId{padding-bottom:10px;}
#padload{background:none;height:40px;line-height:40px;padding:5px 10px;font-weight:bold;font-size:14px;color:#888;-webkit-transform:translateZ(0);display: none;}
#padload .padloadIcon{display:block; float:left;width:40px; height:40px;background:url(https://image.kuwo.cn/webmusic/html5/pull-icon@2x.png) 0 0 no-repeat;-webkit-background-size:40px 80px; background-size:40px 80px;-webkit-transition-property:-webkit-transform;-webkit-transition-duration:250ms;}
#padload.loading .padloadIcon{background-position:0 100%;-webkit-transform:rotate(0deg) translateZ(0);-webkit-transition-duration:0ms;-webkit-animation-name:loading;-webkit-animation-duration:2s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;}
@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
/*条形图*/
.strip{ width: 100%;height: 0.2rem;background: #e8e8e8;}
.strip2{ height: 40px;background: #fff;}

/*分享*/
.ispay{ display: none;width: 72%;background: #fff;border-radius: 10px;position: absolute;left: 14%;top: 25%;z-index: 500;}
.sharebox{ display: none;width: 72%;background: #fff;border-radius: 10px;position: fixed;left: 14%;top: 25%;z-index: 500;}
.close,.close2{ position: absolute;right: 0;top: 0;width: 0.7rem;height: 0.7rem;background: url(https://image.kuwo.cn/mpage/html5/2016/close.png) no-repeat center center;background-size: 40%;}
.shareinfo{ margin: 0.4rem 0.36rem 0.34rem 0.36rem;}
.sharepic{ width: 1.3rem;height: 1.3rem;margin-right: 0.2rem;}
.sharepic img{ width: 100%;height: 100%;}
.sharetxt{ padding-top: 0.14rem;}
.shareinfo p{ font-size: 0.3rem;color: #000;line-height: 0.5rem;}
.sharearea{ display: -webkit-flex;display: flex;justify-content: space-between;height: 0.9rem;margin: 0 0.36rem 0.36rem;}
.sharearea a{ width: 0.9rem;height: 100%;}
.sweixin{ background: url(https://image.kuwo.cn/mpage/html5/2016/sweixin.png) no-repeat;background-size: 100%;}
.sqq{background: url(https://image.kuwo.cn/mpage/html5/2016/sqq.png) no-repeat;background-size: 100%;}
.sweibo{ background: url(https://image.kuwo.cn/mpage/html5/2016/sweibo.png) no-repeat;background-size: 100%;}
.szone{ background: url(https://image.kuwo.cn/mpage/html5/2016/szone.png) no-repeat;background-size: 100%;}

.sharetip{display:none;position:absolute;left:0;bottom:-80px;border-radius:10px;background:#000;font-size:0.2rem;color:#fff;padding:0.18rem; }
.sharetip p{ line-height:0.34rem;}
.sharetip i{position: absolute;top: -7px;left: 25px;width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 8px solid #000;}

.wxtip{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:1500;}
.tiptxt{ position:absolute;right:0;top:0;width:100%;height:100%;background: url(https://image.kuwo.cn/mpage/html5/2016/wxtip.png) no-repeat 75% top;background-size: 60%;}

#sharebtn{display:none;}

/*hongbao*/
.bribery1{ position: fixed;width: 1.26rem;height: 1.56rem;background: url(https://image.kuwo.cn/mpage/html5/2016/bribery.png) no-repeat;right: 3%;top: 58%;background-size: 100%;z-index:1000;}
.bribery2{display: none;position: fixed;width: 86%;height: 90%;background: url(https://image.kuwo.cn/mpage/html5/2016/bribery222.png) no-repeat;right: 7%;top: 0.6rem;background-size: 100%;z-index:1000;}
.b_close{ position: absolute; left: 5px;top: 5px;width: 0.3rem;height: 0.3rem;background: url(https://image.kuwo.cn/mpage/html5/2016/b_close.png) no-repeat;background-size: 100%;}

/*打开APP*/
.up_btns{ width:100%;height:0.96rem;background:rgba(0,0,0,0.5);}
.up_btns2{ position: fixed;left:0;top:0;z-index: 200;}
.openApp{ width:1.5rem;height:0.46rem;border:1px solid #fff;border-radius:4px;line-height: 0.46rem;text-align: center;font-size: 0.28rem;font-family: 'microsoft yahei';margin-top: 0.24rem;}
.openApp2{ margin-right:0.16rem;}

/*dltips*/
.dltips{ display: none;position: fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index: 1000;}
.dlarea{ position:absolute;left:50%;top:30%;width:5.4rem;background:#fff;padding-bottom: 0.5rem;margin-left:-2.7rem;}
.dlclose{ position:absolute;top:0;right:0;width: 0.8rem;height: 0.8rem;background: url(https://image.kuwo.cn/mpage/html5/2016/close.png) no-repeat center center;background-size: 40%;}
.dltxt{ padding-top: 0.78rem;text-align: center;margin-bottom:0.56rem;}
.dlp01{ line-height: 0.4rem;color:#333;font-size:0.32rem;font-weight:bold;}
.dlbtn{ display: block;width:3.26rem;height:0.8rem;border-radius:0.4rem;line-height: 0.8rem;text-align: center;color:#fff;font-size: 0.28rem;margin:0 auto 0.3rem;}
.dlopenapp{ background:#b49262;}
.dlinstallapp{ background:#367dff;}