@charset "utf-8";
/*首页焦点图*/
.banner{ padding-top:1.64rem;}
.swiper-slide,.swiper-wrapper{width:100%;height:100%;position:relative;transform-style:preserve-3d;}
.swiper-pagination,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);}
.swiper-container{width:100%;height:3.12rem;margin:0 auto;position:relative;overflow:hidden;z-index:1;}
.swiper-slide a{ display: block;width:100%;height:100%;}
.swiper-wrapper{z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.swiper-slide,.swiper-wrapper{-ms-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;}
.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;color:#fff;}
.swiper-pagination{height: 20px;position:absolute;text-align:center;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10;}
.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:50%;background:#7c5e53;position: relative;top: -0.8rem;}
.swiper-pagination-bullet-active{opacity:1;background:#2385c1;}
.swiper-container-horizontal>.swiper-pagination{bottom:0;left:0;width:100%;}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 7px;}
.swiper-slide a{ display: block;width: 100%;height: 100%;}
.banner .swiper-slide img{ width: 100%; height: 100%; pointer-events: none; }

/*主内容*/
.main{ width: 100%;}
.newsong,.gedan,.program,.mmhost,.hotmv{ padding: 0 0.2rem;color: #333;}
.main h3{ font-size:0.3rem;height: 0.88rem;line-height: 0.88rem;font-weight: bold;}
.main .more{ width: 0.8rem;height: 100%;font-size: 0.26rem;float: right;color: #666;background: url(//image.kuwo.cn/mpage/html5/2016/arrow_r.png) no-repeat 92% 50%;background-size: 18%;}
.main img{ width: 100%;height: 100%;}
.newsong p{ font-size:0.26rem;text-align: center;height: 0.6rem;line-height: 0.6rem;}
.songmsg{display: block;position: relative;}
.songmsgpic{ width:100%;height:3rem;}
.newtip{ position: absolute;left: 0;top: 0;width: 0.5rem;height:0.5rem;background: url(//image.kuwo.cn/mpage/html5/2016/newtip.png) no-repeat;background-size: 100%;}
.other{ position: absolute;left: 0;bottom: 0;width:100%;height: 0.52rem;font-size: 0.2rem;}
.listen{ position: relative; width: 30%;height: 100%;line-height: 0.52rem;background: url(//image.kuwo.cn/mpage/html5/2016/earphone.png) left center no-repeat;background-size: 10%;margin-left: 0.2rem;}
.listennum{ position: absolute;left: 0;top:0;-webkit-transform: translate(0.24rem,0);transform: translate(0.24rem,0);}
.playbtn{ width: 0.4rem; height: 0.4rem;background: url(//image.kuwo.cn/mpage/html5/2016/playbtn1.png) no-repeat;background-size: 100%;margin-right: 0.12rem;}
/*歌单推荐*//*精彩节目*/
.main .swiper-slide{ padding-bottom: 0.2rem;position: relative;}
.main .swiper-slide img{ width: 2.25rem;height: 2.25rem;pointer-events: none;}
.swiper-slide p{width: 100% ;color: #333;text-align: left;font-size: 0.24rem;line-height: 0.32rem;padding-top: 0.06rem;}
/*推荐主播*/
.mmhost{display:none;}
.mmhost a{ display: block;padding-bottom: 0.2rem;}
.mmhost img{ width: 100%;height: 3rem;}
/*热门MV*/
.hotmv .swiper-slide a{ position: relative;display: block;}
.hotmv .swiper-slide img{ width: 100%;height: 2.14rem;pointer-events: none;}
.mvmsg{ position: absolute;right: 0;bottom: 0;font-size: 0.2rem;color: #fff;width: 100%;height: 0.4rem;background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.05),rgba(0,0,0,0.6));background: linear-gradient(to bottom,rgba(0,0,0,0.05),rgba(0,0,0,0.6));text-align: right;line-height: 0.4rem;}
.mvmsg .mvnum{ display: inline-block;height: 100%;padding-left: 0.3rem;padding-right: 0.06rem;background: url(//image.kuwo.cn/mpage/html5/2016/earphone.png) left center no-repeat;background-size: 12px 7px;}

.open_app{ width: 100%;height: 0.88rem;line-height:0.88rem;padding-top:0.44rem;padding-bottom:0.6rem;}
.openapp_btn{ display: flex;display: -webkit-flex;justify-content: center;align-items:center;width: 6.9rem;height: 100%;line-height: 0.88rem;border-radius: 0.44rem;background: #f5f5f5;text-align: center;color: #333;font-size: 0.32rem;margin: 0 auto;position:relative;}
.openapp_btn i{ display: inline-block;}
.icon_logo{ width: 0.44rem; height: 0.46rem;background: url(//image.kuwo.cn/mpage/html5/2017/h5down/icon_logo.png) no-repeat;background-size: 100% 100%;}
.icon_arrow{ width: 0.1rem; height: 0.18rem;background: url(//image.kuwo.cn/mpage/html5/2017/h5down/icon_arrow.png) no-repeat;background-size: 100% 100%;}
.openapp_txt{ margin: 0 0.2rem 0 0.1rem;}
.openapp_btn:after{content: ""; display: block;width: 200%;height: 200%;position: absolute;top: 0;left: 0;-webkit-transform: scale(0.5);-webkit-transform-origin: 0 0;transform: scale(0.5);transform-origin: 0 0;padding:0;-webkit-box-sizing: border-box; box-sizing: border-box;pointer-events: none; border: 1px solid #aaa;border-radius: 0.88rem;}
/*footer*/
.footerInfo{color:#888;font-size:0.24rem;line-height:0.4rem;background:#e8e8e8;padding:0.5rem 0.26rem;}
.contact{padding-top:0.26rem;text-align: center;}