.recommend{
    width: 100%;
    height: 84px;
}
*{margin:0;padding: 0;box-sizing: border-box;}
html,body{height:100%;}
/* html{
	font-size:26.67vw;
} */
li{list-style:none;}
img{ vertical-align: middle;}
/* context */
.TuijianCss{
	width:100%;
	height:107.53px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-top:10px;
	background:#FFFFFF;
}
.mrxg{
	width:100.81px;
	height:100.81px;
	background:darkgray;
	transform: rotateZ(-5deg);
	margin:0 10px 10px 10px
	
		
}
.mrxg img{
	width:91.89px;
	height:91.89px;
	transform: rotateZ(5deg);
	margin-top:5px	
}
h4{
	width:100%;
	height:44.95px;
	color:#46B4E6;
	font-size:16px;
	font-family: "微软雅黑";
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-left:10px
	
}
.TuijianCsss{
	width:100%;
	height:286.69px;
	flex-wrap:wrap;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background:#FFFFFF

}
.mrxgs{
	width:100.81px;
	height:100.81px;
	margin:0 10px 0 10px
	
}
.mrxgs img{
	width:91.89px;
	height:91.89px;
}
.context{
	width:89.17px;
	height:40px;
	font-size:16px;
	font-family: "微软雅黑";
	margin:0 10px;
	
}
.TuijianCssss{
	width:100%;
	height:107.53px;
	flex-wrap:wrap;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background:#FFFFFF;
	margin-bottom: 30px;
	
}
.TuijianCsssss{
	width:100%;
	height:69.56px;
	flex-wrap:wrap;
	display:flex;
	justify-content: space-between;
	align-items: center;

}
.kuang{
	width:102.81px;
	height:28.88px;
	margin:0 10px;
	border:1px solid;
	font-size:16px;
	color:#333333;
	padding-top:3px
}
.mrxgw{
	width:155.34px;
	height:88.39px;
	margin:0 10px 0 10px;
	
}
.mrxgw img{
	width:155.34px;
	height:88.39px;
	
}
.contextw{
	width:89.17px;
	height:40px;
	font-size:16px;
	font-family: "微软雅黑";
	margin:0 10px;
	text-align: left;
}
.swiper-slide img{
	width:375px;
}