.singer{
    width: 100%;
    height: 84px;
}

.zyh_singerType{
    height:800px;
    margin-top: 10px;
}

.newMc {
    width: 100%;
    padding: 0 3%;
    overflow: hidden;
    padding-top: 100px;
}

.newList {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;
    padding:0 7px;

}

.newBs2 {
    width: 90px;
    overflow: hidden;
    position: relative;
    margin: 3px 8px 8px 8px;
    float: left;
    cursor: pointer;
}

.newBs2 img {
    overflow: hidden;
    display: block;
    border: 1px solid rgba(0,0,0,0.2);
    width:88px;
}

.newTopline2 {
    width: 97%;
    height: 2px;
    background: url(http://image.kuwo.cn/mpage/html5/2015/tuijian/topLine.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1px;
    left: 0;
}

.h5 {
    height: .15rem;
    font-size: 0;
    overflow: hidden;
    clear: both;
}

.newBtex {
    width: 100%;
    overflow: hidden;
    font: 18px "微软雅黑";
    color: #000;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    height: 40px;
    text-align: left;
}


/***ArtistList************************************/

/*playTit*/

.playTit {
    width:100%;
    height: 50px;
    background: #ededed;
    overflow: hidden;
    padding: 0 4%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.playTit img{
    vertical-align: top;
}
.back {
    width: 25px;
    height: 25px;
    float: left;
    overflow: hidden;
    margin: 10px 10px 0 0;
}



.backTex {
    height: 50px;
    font: 16px/50px "微软雅黑";
    color: #010101;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
    float: left;
    text-align: left;
}

.seachBtn {
    width: 20px;
    height: 20px;
    /*float: right;*/
    overflow: hidden;
    margin:14px 2px 0 0 ;
    float:right;
}


/*singerList*/
.singList {
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
    margin-top:50px;
}

.singerMv {
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 5px;
}
.singerMv p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.singerZjImg {
    width: 75px;
    height: 75px;
    float: left;
    overflow: hidden;
    border: 1px solid #87818a;
    margin: 12px 5px 0 0;
}

.singerZjImg img{
    width:75px;
}

.singerRiTex2 {
    width: 65%;
    height: 75px;
    float: left;
    overflow: hidden;
    margin-top: 13px;
    font: 16px/75px "微软雅黑";
    color: #000;
    font-weight: bold;
    text-align: left;
    padding-left:10px;
}

.singerRiName {
    width: 100%;
    height: 20px;
    font: 16px/20px "微软雅黑";
    font-weight: bold;
    overflow: hidden;
    margin-top: 18px;
    display: block;
}

.singerRiName2 {
    width: 100%;
    height: 20px;
    font: 12px/20px "微软雅黑";
    overflow: hidden;
    margin-top: 3px;
    display: block;
    color: #6c6c6c;
}

.pullUpLabel p {
    font-size:18px;
    color:gray;
    font-weight: bold;
    margin:10px 0;
}


/*SingerImg歌手图片 Don't change !!!*/

.singerImg{
    width:100%;
    height:130px;
    position:fixed;
    z-index:900;
    margin-top:50px;
    top:-5px;
}

#filter{
    filter:blur(6px);
    width:100%;
    height:130px;
}

.singerMinImg{
width:100%;
height:130px;
background:rgba(0,0,0,0.65);
position: fixed;
z-index:900;
text-align: center;
padding-top:20px;
    top:50px;
}

/*******路由导航******/
.singDom4 {
    width: 100%;
    padding: 0 4%;
    overflow: hidden;
    height: 40px;
    background: #343534;
    position: fixed;
    z-index:900;
    top:180px;
}

.singLe5 {
    width: 80%;
    height: 40px;
    float: left;
    overflow: hidden;
    padding-top: 2px;
}

.singLea {
    width: 30%;
    font: 16px/20px "微软雅黑";
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    float: left;
    height: 30px;
    line-height: 30px;
}

.singLea a.def {
    border-bottom: 2px solid #fff;
}

.singLea a {
    width: 50px;
    height: 23px;
    overflow: hidden;
    float: left;
    margin-top: 5px;
    font: 16px/20px "微软雅黑";
    color: #fff;
    display: block;
    text-align: center;
}

.singPlay {
    width: 33px;
    height: 33px;
    float: right;
    overflow: hidden;
    margin-top: 3px;
}

.zyh_singList {
    width: 92%;
    margin:0 15px;
    overflow: hidden;
    margin-top: 220px;

}

.singBox {
    width: 100%;
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 0;
    text-align: left;
}

.singTex {
    width: 75%;
    height: 40px;
    overflow: hidden;
    float: left;
}

.singTexUp {
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.singTexUp2 {
    width: 100%;
    height: 20px;
    font: 16px "微软雅黑";
    color: #000;
    position: relative;
    line-height:20px;
    font-weight: bold;
}

.spanSing {
    width: 30px;
    height: 18px;
    position: absolute;
    z-index: 90;
    top: 3px;
    margin-left: 5px;
}

.singName {
    width: 100%;
    height: 20px;
    font: 12px/24px "微软雅黑";
    color: #636363;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.singMv {
    width: 20px;
    height: 20px;
    float: right;
    padding: 10px 8px;
    overflow: hidden;
}

.zyh_mv {
    position:relative
}

.zyh_mv img{
    width:18px;
    position:absolute;
    left:290px;
    top:-28px;
}